@model squadManager.Models.UserViewModel

<!-- Login Form -->
<section>
    <h1> Autenticação </h1>
    <input type="text" placeholder="Usuário ou Email" name="user_camp">
    <input type="password" placeholder="Senha" name="password_camp">
    <a href="#">Esqueceu a senha?</a>

    <button> Logar </button>

    <label>Não possue uma conta?</label><a href="#">Cria sua conta!</a>
</section>